---
layout: default
title: Francesca Greenstreet's portfolio.
description: Francesca Greenstreet's portfolio.
featured_image: /images/about/banner_linkedin.png
---

<section class="portfolio">

	<div class="content-wrap portfolio-wrap">

		{% for project in site.projects reversed %}
		{% if project.featured_image %}
		<div class="portfolio-item">

			<a class="portfolio-item__link" href="{{ project.url | relative_url }}">

				<div class="portfolio-item__image">
					{% if project.thumbnail_image %}
					<img src="{{ project.thumbnail_image | relative_url }}" alt="{{ project.title }}">
					{% else %}
					<img src="{{ project.featured_image | relative_url }}" alt="{{ project.title }}">
					{% endif %}
				</div>

				<div class="portfolio-item__content">
					<div class="portfolio-item__info">
						<h2 class="portfolio-item__title">{{ project.title }}</h2>
						<p class="portfolio-item__subtitle">{{ project.subtitle }}</p>
					</div>
				</div>

			</a>

		</div>
		{% endif %}
		{% endfor %}

	</div>

</section>